src/*.txt
*.o
src/test
src/Makefile
*.sublime-*
*.pdf
*.log
*.synctex.gz
*.dvi
*.aux
*.bbl
*.blg
*.vrb
*.toc
*.nav
*.out
*.toc
*.nav
*.snm
.DS_STORE
*.fdb_latexmk
.fuse_hidden*
*.nav
*.toc
*.out
*.snm
*.swp
src/analytic_continuation
*.fls
